<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans classpath:org/springframework/beans/factory/xml/spring-beans-4.1.xsd
	http://www.springframework.org/schema/context classpath:org/springframework/context/config/spring-context-4.1.xsd
	http://www.springframework.org/schema/tool classpath:org/springframework/beans/factory/xml/spring-tool-4.1.xsd">
  	 
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"></bean>
	
	<bean id="faultInjectionService"
		class="com.navercorp.nbasearc.confmaster.faultinjection.FaultInjectionServiceImpl"/>

	<bean id="RARoleLconn" class="com.navercorp.nbasearc.confmaster.faultinjection.RARoleLconnFI"/>
	<bean id="RASetquorum" class="com.navercorp.nbasearc.confmaster.faultinjection.RASetquorumFI"/>
	<bean id="MERoleMaster" class="com.navercorp.nbasearc.confmaster.faultinjection.MERoleMasterFI"/>
	<bean id="MERoleLconn" class="com.navercorp.nbasearc.confmaster.faultinjection.MERoleLconnFI"/>
	<bean id="QASetquorum" class="com.navercorp.nbasearc.confmaster.faultinjection.QASetquorumFI"/>
	<bean id="BJRoleSlave" class="com.navercorp.nbasearc.confmaster.faultinjection.BJRoleSlaveFI"/>
	<bean id="YJRoleSlave" class="com.navercorp.nbasearc.confmaster.faultinjection.YJRoleSlaveFI"/>
	<bean id="MGSetquorum" class="com.navercorp.nbasearc.confmaster.faultinjection.MGSetquorumFI"/>

	<context:annotation-config />
	
	<context:property-placeholder location="file:cc.properties" />
	
	<context:component-scan base-package="com.navercorp.nbasearc.confmaster"/>
	<context:component-scan base-package="com.navercorp.nbasearc.confmaster.config"/>
	<context:component-scan base-package="com.navercorp.nbasearc.confmaster.heartbeat"/>
	<context:component-scan base-package="com.navercorp.nbasearc.confmaster.server"/>
	<context:component-scan base-package="com.navercorp.nbasearc.confmaster.server.cluster"/>
	<context:component-scan base-package="com.navercorp.nbasearc.confmaster.server.command"/>
	<context:component-scan base-package="com.navercorp.nbasearc.confmaster.server.leaderelection"/>
	<context:component-scan base-package="com.navercorp.nbasearc.confmaster.server.manager"/>
	<context:component-scan base-package="com.navercorp.nbasearc.confmaster.server.workflow"/>
		
</beans>
